{% extends 'user_authentication_app/base.html' %}
{% block body_block %}
<h3>Please Login</h3>
<form action="{% url 'user_authentication_app:user_login' %}" method="POST">
  <label for="username">Username</label>
  <input type="text" class="form-control" name="username" placeholder="Enter your username.." required>
  <br>
  <label for="password">Password</label>
  <input type="password" class="form-control" name="password" placeholder="Enter your password.." required>
  <br>
  {% csrf_token %}
  <input type="submit" name="submit" value="Login" class="btn btn-primary btn-sm">
</form>

{% endblock %}
