{% extends 'user_authentication_app/base.html' %}
{% block body_block %}
<h3>{{ login }}</h3>
<form class="" action="" method="post">
  <label for="username">Username</label>
  <input type="text" class="form-control" name="usernamr" placeholder="Enter your username..">
  <br>
  <label for="password">Password</label>
  <input type="text" class="form-control" name="password" placeholder="Enter your password..">
  <br>
  {% csrf_token %}
  <input type="submit" name="submit" value="Login" class="btn btn-primary btn-sm">
</form>

{% endblock %}
